{{> message}}
<form class="form-login mx-auto" action="/login" method="POST" style="width: 50%;">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Login In</h1>
  </div>
  <div class="form-label-group">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
  </div>
  <div class="form-label-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
  </div>
  <br />
  <div class="d-grid gap-2">
    <button class="btn btn-info" type="submit">Login</button>
    <a href="/auth/facebook" class="btn btn-primary">Facebook Login</a>
  </div>
  <div class="text-center mb-4">
    <p><a href="/register">Register</a></p>
  </div>
</form>